<body>
<% include (`partials/header.ejs`); %>
    <h1> Gaming Title: <%= gameTitle %> </h1> 
    <h3> Game Creator: <%= gameCreator %> </h3>

    <% if (gameTitle == "Fortnite") { %>
         <p> Description: Fortnite is a free-to-play battle royale game developed and published by Epic Games. It was released on the Nintendo Switch in June 2018.</p>
    <% } else { %>
         <p> Description: Unknown game </p>
   <% }   %>  
</body>
</html>